<div class="testimonial-container">
  <img src="../../../assets/images/man.jpg" alt="Picture of a man" style="width: 90px;">
  <p><span>John Smith</span> Network Manager, Entertaining Games</p>
  <p>Server Rental 4000 made integration into our game as painless as possible!</p>
</div>
<div class="testimonial-container">
  <img src="../../../assets/images/woman.jpg" alt="Picture of a woman" style="width: 90px;">
  <p><span>Julie Danger</span> CFO, Small Fish Big Pond</p>
  <p>Without Server Rental 4000's competitive prices, we would not have been able to scale. They have been with us every
    step of the way.</p>
</div>
