.img-size {
  width: 100%;
}

.header {
  text-align: center;
}

.flex-container {
  display: flex;
  background-color: gray;
}

.left-half {
  background-color: dodgerblue;
  width: 50%;
  text-align: center;
}

.right-half {
  background-color: orangered;
  width: 50%;
  text-align: center;
}

.newsletter-form input {
  width: 50%;
  padding: 10px;
  margin: 5px 10px 10px 0;
  border: none;
  border-radius: 8px;
}

.task {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: lightgray;
}

.task-item {
  border: 1px solid black;
  padding: 0 100px;
}
